<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.study.spring.mybatis.mapper.BookMapper">
	<insert id="insert" parameterType="net.study.spring.mybatis.bean.Book">
		insert into
		book(bookname,price,author) values (
		#{bookname,jdbcType=VARCHAR},
		#{price,jdbcType=DOUBLE},
		#{author,jdbcType=VARCHAR}
		);
	</insert>
</mapper>